<div class="page-header">
  <%= link_to new_map_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Map
  <% end %>
  <h1>Bus-Tracker</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Buses</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @maps.each do |map| %>
    <tr>
      <td><%= map.Buses %></td>
      <td><%= link_to 'Show', map %></td>
      <td><%= link_to 'Edit', edit_map_path(map) %></td>
      <td><%= link_to 'Destroy', map, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
