<!-- don't show the header back / edit buttons in the maps info bubble-->
<% if not @minimal %>
<div class="page-header">
  <%= link_to stops_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_stop_path(@stop), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
    <% end %>  
  <h1>Listing stop <%= @stop.stopid %></h1>
</div>
<% end %>

<dl>
	<dt><%= @stop.name %></dt>	
	<dd>
		<dt>Stop ID:</dt><dd><%= @stop.stopid %></dd>
		<dt>Location:</dt><dd><%= @stop.lat %>, <%= @stop.lon %></dd>
		<dt>Next Buses:</dt>
		<dd>
			<div id="bubble_stop_predictions">
			</div>
		</dd>
		<dl>
			<dt>Routes</dt>
			<dd>	
				<%= @stop.routes.map { |route| " #{route.routeid} #{route.direction}" }.join ',' %>
			</dd>
		</dl>
</dl>
