<div class="page-header">
  <h1>Buses</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Vehicle ID</th>
      <th>Route ID</th>
      <th>Headsign</th>
      <th>Direction</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Minutes Late</th>
      <th>Stale Time</th>
    </tr>
  </thead>

  <tbody>
<% @buses.each do |bus| %>
    <tr>
      <td><%= bus.busid %></td>
      <td><%= bus.wmataid %></td>
      <td><%= bus.headsign %></td>
      <td><%= bus.direction %></td>
      <td><%= bus.lat %></td>
      <td><%= bus.lon %></td>
      <td><%= bus.dev %></td>
      <td><%= bus.updated_at %></td>
      <td><%= link_to 'Show', bus %></td>
    </tr>
<% end %>
  </tbody>
</table>
